/**
 * @author    BOX http://box.agency
 * @contact   admin@box.agency
 */

/* ==========================================================================
   Base Styles
   ========================================================================== */

@import '../../../vendor/bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss';
@import 'base';

/**
 * Helper Variables & Functions
 */

$primary: #FFF;
$second: #000;

$font: 'Berlin Sans FB Demi', helvetica, arial, sans-serif;

@font-face {
	font-family: 'Berlin Sans FB';
	src: url('../fonts/BerlinSansFB-Bold.eot');
	src: url('../fonts/BerlinSansFB-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/BerlinSansFB-Bold.woff') format('woff'),
		url('../fonts/BerlinSansFB-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Berlin Sans FB Demi';
	src: url('../fonts/BerlinSansFBDemi-Bold.eot');
	src: url('../fonts/BerlinSansFBDemi-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/BerlinSansFBDemi-Bold.woff') format('woff'),
		url('../fonts/BerlinSansFBDemi-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

body{
  font: 1.4em/1.4 $font;
  color: #FFF;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
  background: #ee1f25 url(../img/bg-red.jpg) no-repeat top center;
  border-top: 6px #E21A22 solid;

}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

a {
  color: $primary;
  transition: all 0.3s ease;
  &:hover, &:focus {
    color: $primary;
    text-decoration: none;
  }
}
.hide {
  display: none;
}
.show {
  display: block;
}

/* ==========================================================================
   Layout Styles
   ========================================================================== */

.main {
  //  .flexbox & { flex: 1 0 auto; }
  position: relative;
}

.ui-top{
  .logo{
    width: 196px;
    height: 129px;
    position: absolute;
    background: url(../img/logo-said.png);
  }
  .social{
    margin-top: 8px;
    .sn{
      width: 30px;
      height: 30px;
      display: inline-block;
      background: #f8767c;
      border-radius: 50%;
      line-height: 30px;
      text-align: center;
      color: #fff;
      font-size: 16px;
      margin-right: 5px;
      &:hover{
        background: #c81217;
      }
    }
    .sound{
      display: inline-block;
      padding: 5px 10px;
      border-radius: 8px;
      transform: rotate(-10deg);
      cursor: pointer;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f47074+0,f47074+100&amp;0+6,1+79 */
      background: -moz-linear-gradient(top,  rgba(244,112,116,0) 0%, rgba(244,112,116,0) 6%, rgba(244,112,116,1) 79%, rgba(244,112,116,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  rgba(244,112,116,0) 0%,rgba(244,112,116,0) 6%,rgba(244,112,116,1) 79%,rgba(244,112,116,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  rgba(244,112,116,0) 0%,rgba(244,112,116,0) 6%,rgba(244,112,116,1) 79%,rgba(244,112,116,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f47074', endColorstr='#f47074',GradientType=0 ); /* IE6-9 */

      &.active{
        .on{display: none;}
        .off{display: block;}
      }
      .off{display: none;}
      &:hover{
        color: #7D0B17;
      }
    }
    .share{
      margin-right: 8px;
      color: #FFF;
      background-color: #c81217;
      border-radius: 30px;
      padding: 5px 20px;
      &:hover{
        background-color: #f8767c;
      }
    }
  }

} /* END ui top */

.ui-bottom{
  .slogon{
    width: 178px;
    height: 133px;
    background: url(../img/koun-said.png);
  }
  .cdj{
    background-color: #c81217;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 8px 20px;
    margin-top: -35px
  }
}



// logo
.logo-6a9{
  position: absolute;
  top: 147px;
  left: 345px;
  z-index: 6;
  transition: all 1s ease;
  .home-pageBody &{
    animation: floating-logo 2s ease alternate infinite;
  }
  .signup-pageBody &{
    transform: scale(0.8) translate(-90px,-176px);
  }
  .game-pageBody & , &.closed{
    transform: scale(0.61) translate(592px, -305px)
  }
  &.suspended{
    transform: scale(.5) translate(-100px,-485px);
  }
}

.pages-wrapper{
  position: relative;
  margin-top: 50px;
  min-height: 560px;
}

.page{
  animation-duration: 0.5s;
  animation-fill-mode: both;
}
.page.show{
  animation-name: zoomIn;
}


@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.5, .5, .5);
  }

  50% {
    opacity: 1;
  }
}

/*
  Landing page
-------------------------- */
.landing-page{
  position: relative;
  p{
    font-size: 19px;
    margin-top: 30px;
    text-shadow: 0 1px 2px rgba(0,0,0,0.5);
    display: inline-block;
  }
  &.suspended{
    height: 500px;
    p{
      margin-top: 158px;
      margin-left: auto;
      background-color: rgba(80, 9, 9, 0.36);
      padding: 6px 25px;
      border-radius: 11px;
      font-size: 21px;
    }
    h2 img{
      position: absolute;
      left: 27%;
      top: 498px;
      z-index: 3;
      transform: scale(0.8);
    }
    iframe{
      position: absolute;
      z-index: 100;
      width: 49%;
      left: 25.5%;
      top: 186px;
      border: 13px solid #500909;
      border-radius: 10px;
      background-color: #500909;
    }
  }
  .els{
    position:relative;
    width: 100%;
    height: 100%;
    img{
      position: absolute;
      z-index: 0;
    }
    .goutes{
      top: 318px;
      left: 94px;
    }
    .choco{
      right: 197px;
      top: 127px;
      animation: floating-logo 4s ease alternate infinite;
    }
    .tartine{
      top: 74px;
      left: 280px;
      animation: floating-logo 3.3s ease alternate infinite;
    }
    .chocoline{
      top: 304px;
      right: 148px;
      animation: floating-logo 3s ease alternate infinite;
    }
    .mini-tarti{
      top: 318px;
      left: 94px;
      animation: floating-logo 3.7s ease alternate infinite;
    }
  }
}
.suspended{
  .els{
    position:relative;
    width: 100%;
    height: 100%;
    img{
      position: absolute;
      z-index: 0;
    }
    .goutes{
      top: 318px;
      left: 94px;
    }
    .choco{
      right: 97px;
      top: 127px;
      animation: floating-logo 4s ease alternate infinite;
    }
    .tartine{
      top: 74px;
      left: 90px;
      animation: floating-logo 3.3s ease alternate infinite;
    }
    .chocoline{
      top: 304px;
      right: 98px;
      animation: floating-logo 3s ease alternate infinite;
    }
    .mini-tarti{
      top: 318px;
      left: 94px;
      animation: floating-logo 3.7s ease alternate infinite;
    }
  }
}



.actions{
  top: 446px;
  text-align: center;
  width: 70%;
  float: left;
  position: absolute;
  z-index: 3;
  margin-left: 15%;
  button{
    vertical-align: top;
    text-align: center;
  }
  .start-btn{
    width: 249px;
    height: 126px;
    border: 0px;
    display: inline-block;
    text-indent: -999999px;
    background: url(../img/btn-start.png) no-repeat;
    &.loading{
      opacity: 0.5;
      &:hover{
        transform: scale(1);
      }
    }
    &:hover{
      transform: scale(1.05);
    }
  }
  .video{
    width: 159px;
    height: 133px;
    display: inline-block;
    border: 0px;
    margin-top: 30px;
    background: url(../img/btn-vid-1.png) no-repeat;
    &.video2{
      background: url(../img/btn-vid-2.png) no-repeat;
      &:hover{
        transform: rotate(-28deg);
      }
    }
    &:hover{
      transform: rotate(28deg);
    }
  }
}


.signup-page{
  .content{
    background: url(../img/bg-form.png);
    width: 670px;
    height: 628px;
    margin: 0 auto;
    padding-top: 270px;
    color: #888;
    font-family: helvetica, arial, sans-serif;
  }
  #signup-form{
    width: 470px;
    margin: 0 auto;
  }
  .form-title{
    width: 252px;
    height: 42px;
    margin: 0 auto;
    background: url(../img/form-title.jpg);
    margin-bottom: 30px;
    text-indent: -99999px;
  }
  .form-control{
    background: #e1e1e1;
    height: 36px;
    width: 240px;
    border-radius: 30px;
    box-shadow: none;
    border: 0px;
    font-size: 12px;
  }
  a{
    color: #6e4cc2
  }
  .submit-btn{
    margin: 20px auto 0;
    display: block;
    font-family: $font;
    background-color: #6e4cc2;
    font-size: 22px;
    border-radius: 30px;
    padding: 8px 30px;
    color: #FFF;
    border: 0px;
    &:hover{
      background-color: darken(#6e4cc2, 15%);
      transform: scale(1.05);
    }
  }
}

.game-page{
  background: url(../img/bg-game-gifts.png) no-repeat center;
  background-size: 100%;
	.spin-wrapper{
	  max-width: 637px;
    width: 100%;
	  height: 646px;
	  position: relative;
		margin: 0 auto 0;
    overflow: hidden;
	  img{
	    position: absolute;
	    top: 0;
	    left: 0;
	  }
	  .pointer{
	    z-index: 4;
	  }
	  #spin-btn{
	    z-index: 5;
	    cursor: pointer;
	    transition: all .2s ease;
	    &:hover{
	      transform: scale(1.02);
	    }
	    &:active{
	      transform: scale(0.95);
	    }
	  }
	  .over-spin{
	    z-index: 3;
	  }
	  #spin{
	    z-index: 2;
	    width: 100%;
	    // transition: transform 7.5s cubic-bezier(0.135, 1.090, 0.945, 1.010);
	  }
	}
}

.lose-page{
  text-align: center;
	img{
    margin-top: 80px;
	}
  .actions{
     top: 450px;
   }
}
.win-page{
  	text-align: center;
  .content{
    position: relative;
    .bg-win{
      top: 100px;
    }
    .gift{
      position: absolute;
      z-index: 2;
      top: 44%;
      left: 42%;

    }
  }
  .actions{
     top: 420px;
   }
}
.closed-page,{
  .content{
    margin-top: 100px;
    text-align: center;
    height: 500px;
    position: relative;
  }
 .actions{
    top: 390px;
  }
}

.suspended{
  .actions{
    top: -50px;
  }
}

.fb-page-link{
  position: absolute;
  left: 38.3%;
  top: 55%;
}

.modal-content{
  background: transparent;
  height: 354px;
  border: 15px solid rgba(68, 0, 0, 0.83);
  .close{
    position: absolute;
    right: -65px;
    background: rgba(68, 0, 0, 0.83);
    width: 50px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    opacity: 0.8;
    color: #000;
    text-shadow: none;
    padding: 10px;
    img{
      width: 20px;
    }
  }
  iframe{
    background-color: rgb(68, 0, 0);
  }
}


@media (max-width: 780px) {
  .logo-6a9,
  .home-pageBody .logo-6a9,
  .game-pageBody .logo-6a9,
  .signup-pageBody .logo-6a9{
    top: 107px;
    left: 0;
    transform: scale(0.8) translate(0px, -51px) !important;
  }
  .game-pageBody .logo-6a9{
    top: 87px !important;
  }
  .actions{
    top: 245px;
    .video{
      width: 100px;
      float: left;
      margin-left: 23px;
      background-size: 100%;
      &.video2{
        float: right !important;
        margin-right: 10px;
        margin-left: 0 !important;
        background-size: 100%;
      }
    }
    p{
      margin-top: 0px;
    }
  }
  .pages-wrapper{
    min-height: 600px;
  }
  .game-page .spin-wrapper{
    margin: 250px auto 0;
    height: 656px;
  }
  .modal-content .close{
    border-radius: 50%;
    opacity: 1;
    width: 40px;
    right: 0;
  }
  .win-page .content,
  .lose-page .content{margin-top: 80px;}
  .win-page .actions, .lose-page .actions {
    top: 350px;
  }

  .win-page .content .gift{
    top: 38%;
    left: 32%;
    transform: scale(0.7);
  }

  .signup-page .content{
    width: 100%;
    background: white;
    padding: 20px;
    margin-top: 120px;
    padding-top: 110px;
    height: 538px;
    border-top-left-radius: 110px;
    border-top-right-radius: 110px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    #signup-form{
      width: 100%;
      input{
        width: 100%;
      }
    }
  }
  .lose-page img{margin-top: 200px}
  .win-page{
  	img{
      margin-top: 100px;
  	}
  }
  .closed-page{
    .content{
      margin-top: 220px;
      .fb-page-link{
        top: 39%;
        left: 16%;
      }
    }
   .actions{
      margin-top: 200px;
    }
  }
  .landing-page.suspended
    p {
      margin: 494px auto 0;
      font-size: 16px;
    }
    h2 img{
      display: none;
    }
    .embed-video-cont{
      position: relative
    }
    iframe{
      width: 100%;
      left: 0%;
      top: 191px !important;
      height: 250px;
    }

}
@media (max-width: 480px) {
  .win-page .content .gift{
        top: 30%;
        left: 25%;
        transform: scale(0.4);
  }
  .game-page .spin-wrapper{
    margin: 190px auto 0;
    height: 446px;
  }
}

//sweetAlert
.sweet-alert.timer{
    border-radius: 50%;
    padding: 40px 10px;
    background: #ee1f25 url(../img/bg-red.jpg) no-repeat center -310px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);

  p{
    font-size: 15px;
    color: #FFF;
    text-shadow: 0 1px 2px rgba(0,0,0,0.3);
  }
  h2{
    text-transform: uppercase;
    color: #FFF;
    text-shadow: 0 1px 2px rgba(0,0,0,0.3);
  }
  button{
    color: #FFF;
    background-color: rgb(238, 31, 37);
    border-radius: 20px;
    font-weight: bold;
  }
  .sa-icon.sa-custom{
  	width: 190px !important;
  	height: 86px !important;
  }
}




/* ==========================================================================
   Module Styles
   ========================================================================== */
   @keyframes floating-logo {
     0% {
        transform: translateY(.4em);

     }
     100% {
        transform: translateY(-.4em);
     }
   }
